.title {
  margin-left: 62px;
}

.clock-body {
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  width: 300px;
  height: 300px;
}

.clock-body p {
  width: 0px;
  height: 19px;
  color: #141f25;
  position: absolute;
  transform: rotate(calc(var(--n) * 30deg));
  transform-origin: 0 148px;
  margin-left: 150px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.clock-body p span {
  transform: rotate(calc(var(--n) * -30deg));
}

.second-hand {
  border: 1.5px solid #62c6ed;
  width: 135px;
  position: absolute;
  bottom: 150px;
  left: 150px;
  border-radius: 0.75px;
  transform: rotate(0deg);
  transform-origin: left;
}

.minute-hand {
  border: 2px solid rgb(246, 211, 39);
  width: 125px;
  position: absolute;
  bottom: 150px;
  left: 150px;
  border-radius: 1px;
  transform: rotate(0deg);
  transform-origin: left;
}
.hour-hand {
  border: 3px solid rgb(0, 0, 0);
  width: 120px;
  position: absolute;
  bottom: 150px;
  left: 150px;
  border-radius: 1.5px;
  transform: rotate(0deg);
  transform-origin: left;
}
